In [14]:
data = {
    "Producto": ["Boligrafo", "Cuaderno", "Grapadora", "Marcador", "Papel"], 
"Cantidad": [10,5,2,7,20],
        "Precio_unitario":[1.5, 3.0, 7.0, 2.0, 0.1]
       }
df = pd.DataFrame(data)
df

    Producto  Cantidad  Precio_unitario
0  Boligrafo        10              1.5
1   Cuaderno         5              3.0
2  Grapadora         2              7.0
3   Marcador         7              2.0
4      Papel        20              0.1

In [9]:
import pandas as pd
import numpy as np

In [1]:
print("Mi primer notebook oficial de Data Analyst")

Mi primer notebook oficial de Data Analyst

In [15]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Producto         5 non-null      object
 1   Cantidad         5 non-null      int64
 2   Precio_unitario  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 252.0+ bytes

        Cantidad  Precio_unitario
count   5.000000         5.000000
mean    8.800000         2.720000
std     6.906519         2.610939
min     2.000000         0.100000
25%     5.000000         1.500000
50%     7.000000         2.000000
75%    10.000000         3.000000
max    20.000000         7.000000

In [25]:
df["Total"] = df["Cantidad"] * df["Precio_unitario"]
df

    Producto  Cantidad  Precio_unitario  Total
0  Boligrafo        10              1.5   15.0
1   Cuaderno         5              3.0   15.0
2  Grapadora         2              7.0   14.0
3   Marcador         7              2.0   14.0
4      Papel        20              0.1    2.0

In [26]:
df[df["Total"] > 10]

    Producto  Cantidad  Precio_unitario  Total
0  Boligrafo        10              1.5   15.0
1   Cuaderno         5              3.0   15.0
2  Grapadora         2              7.0   14.0
3   Marcador         7              2.0   14.0

In [30]:
total_general = df["Total"].sum()
print("Total general:", total_general)
media_precio = df["Precio_unitario"].mean()
print("Precio unitario promedio:", media_precio)

Total general: 60.0
Precio unitario promedio: 2.7199999999999998

In [31]:
productos = df["Producto"].tolist()
for p in productos:
    print("Producto:", p)

Producto: Boligrafo
Producto: Cuaderno
Producto: Grapadora
Producto: Marcador
Producto: Papel